	* {
		margin: 0px;
		padding: 0px;
	}

	#app {
		display: grid;
		grid-template-columns: 143px repeat(2, 1fr);
		grid-template-rows: 90px 1fr;
		grid-column-gap: 4px;
		grid-row-gap: 0px;
		height: 98vh;
		background: #d2d6e0;
		padding: 4px;
	}

	.container-Aside {
		grid-area: 1 / 1 / 3 / 2;
	}

	.containner-header {
		grid-area: 1 / 2 / 2 / 4;
	}

	.container-main {
		grid-area: 2 / 2 / 3 / 4;
		background: red;
	}

	/*----------------------------*/

	.container-Aside {
		height: auto
	}

	.containner-header {
		background: pink;
		height: auto
	}

	.container-main {
	    background: #d2d6e0;
	    height: auto;
	    padding: 2px;
	}
	/*------------aside_menu---------------*/

	.aside_menu {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 150px 1fr 45px;
		grid-column-gap: 3px;
		grid-row-gap: 6px;
	}

	.aside_menu_img_app {
		width: 96%;
		height: -webkit-fill-available;
		padding: 3.5px;
		background: white;
		border-radius: 20px;
		object-fit: fill;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
	}

	.sub_aside_menu1 {
		padding-top: 17px;
		background: white;
		border-radius: 11px 11px 0px 0px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

	}

	.btn_aside_menu {
		width: 92%;
		padding: 5px;
		margin-bottom: 14px;
		margin-left: 5px;
		font-size: 13px;
		background: white;
		border: 2px solid #d2d6e0;
		border-radius: 10px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
	}

	.btn_aside_menu:hover {
		background: #d2d6e0;

	}

	.btn_aside_menu>span {
		font-size: 22px;
		margin-right: 5px;
	}

	.iconUnoStock-dashboard:before {

		color: #5951ca;
	}

	.iconUnoStock-Productos:before {

		color: #f16c43;
	}

	.iconUnoStock-Proveedores:before {

		color: #138b23;
	}

	.iconUnoStock-Movimientos:before {

		color: #2196f3;
	}

	.sub_aside_menu2 {
		background: white;
		padding: 6px;
		border-radius: 0px 0px 11px 11px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
	}

	/*-------------------header_app-------------------------*/
	.header_app {
		background: white;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		border-radius: 7px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
	}

	.containner-search {
		border: 0.2px solid #c3c0c0;
		width: 42%;
		/* background: red; */
		display: flex;
		align-items: center;
		flex-direction: row;
		padding: 4px;
		border-radius: 11px;
	}

	.search-name {
		width: 96%;
		height: 29px;
		border-style: none;
	}

	.btn-search {
		border-style: none;
		background: white;
	}

	.sub-containner-icono-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: 18px;
	}

	.Text-icono {
		color: #2196f3;
		font-size: 24px;
	}

	.iconoApp {
		background: #ffffff;
		color: #2196f3;
		font-size: 50px;
		padding: 5px;
		border-radius: 29px;
	}

	.containner-info-header {

		margin-left: 10px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
	}

	.title-header {}

	.sub-title-header {}

	/*--------------------------------------------------*/

